{
  "parser": "@typescript-eslint/parser",
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "strict": 0,
    "no-console": "warn",
    "quotes": ["warn", "single"],
    "prettier/prettier": "warn",
    "react/prop-types": "off",
    "no-unused-vars": "warn",
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/explicit-module-boundary-types": "off"
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:jsx-a11y/recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "plugins": ["@typescript-eslint", "jsx-a11y", "prettier"],
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
